<app-nav-bar></app-nav-bar>
  <img
    src="../../../assets/ufoNavIcon.png"
    alt="UFO"
    width="200"
    height="200"
    id="right-ufo"
  />
  <img
    src="../../../assets/ufoNavIcon.png"
    alt="UFO"
    width="300"
    height="300"
    id="left-ufo"
  />
  <img
    src="../../../assets/ufoNavIcon.png"
    alt="UFO"
    width="100"
    height="100"
    id="third-ufo"
  />
  <img
    src="../../../assets/ufoNavIcon.png"
    alt="UFO"
    width="50"
    height="50"
    id="forth-ufo"
  />
  <div id="game-main-screen">
    <h1 id="ms-title">UFO Game</h1>
    <p>
      UFO Game is a game where you have to shoot down UFOs. The game is made
      with HTML, CSS, JavaScript and 💚 in ETSISI.
    </p>
    <p>Click on the play button to start playing.</p>
    <a class="btn btn-primary" href="game.html">Play</a>
  </div>
  <img src="../../assets/missile.png" alt="MISSILE" width="85" height="228" id="lower-missile"/>


