<app-nav-bar></app-nav-bar>
<div id="preferences">
  <h1 id="preferences-title">Preferences</h1>
  <p>Adjust your game settings: the time and the number of enemy UFOs</p>
  <div class="form-floating">
    <input
      type="number"
      [(ngModel)]="numberOfUFO"
      class="form-control"
      id="ufos-input"
      placeholder="1"
    />
    <label for="ufos-input">Number of UFOs</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      [(ngModel)]="totalTime"
      class="form-control"
      id="time-input"
      placeholder="60"
    />
    <label for="time-input">Game time</label>
  </div>
  <button type="button" (click)="saveData()" class="btn btn-primary" id="preferences-button">Set Preferences</button>
</div>
