<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SPACE INVADERS</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js" integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style type="text/css">

    html, body {
      height: 100%;
      background-color: black;
    }

    body {
      margin: 0;
      display: flex;

      /* This centers our sketch horizontally. */
      justify-content: center;

      /* This centers our sketch vertically. */
      align-items: center;
    }
  </style>
</head>
<body>

</body>
</html>
