<app-nav-bar></app-nav-bar>
<div id="login">
  <h1 id="login-title">Login</h1>
  <p>Let me know who you are.</p>
  <p>This will be used to save your records.</p>

  <div class="form-floating">
    <input
      type="username"
      class="form-control"
      id="username-input"
      placeholder="username"
    />
    <label for="username-input">Username</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password-input"
      placeholder="Password"
    />
    <label for="password-input" class="form-label">Password</label>
  </div>
  <button type="button" class="btn btn-primary" id="submit-button">Login</button>
</div>
