<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="../../../index.html">
      <img
        src="../../../assets/ufoNavIcon.png"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      UFO Game
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">🏠Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/preferences">⚙️Preferences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/game">🕹Play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/records">🏆Records</a>
      </li>
      <li class="d-flex" id="logreg">
        <a class="nav-link active" routerLink="/register">👤Register</a>
        <div *ngIf="isLogged; else login">
          <a class="nav-link active">👋Logoff</a>
        </div>
        <ng-template #login>
          <a class="nav-link active" routerLink="/login">👋Login</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
