<app-nav-bar></app-nav-bar>
<div id="register">
  <h1 id="register-title">Register</h1>
  <p>Fill it with your data to subscribe this game</p>
  <div class="form-floating">
    <input
      type="username"
      [(ngModel)]="username"
      class="form-control"
      id="username-input"
      placeholder="username"
    />
    <label for="username-input">Username</label>
  </div>
  <div class="form-floating">
    <input
      type="email"
      [(ngModel)]="email"
      class="form-control"
      id="email-input"
      placeholder="example@example.com"
    />
    <label for="email-input">E-mail</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      [(ngModel)]="password"
      class="form-control"
      id="password-input"
      placeholder="Password"
    />
    <label for="password-input" class="form-label">Password</label>
  </div>
  <button type="button" (click)="register()" class="btn btn-primary" id="register-button">Login</button>
</div>
